h1 {
  font-family: Verdana;
  font-weight: normal;
  text-align: center;
}

.header-basic {
  background-color: #292c2f;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  height: 80px;
  box-sizing: border-box;
}

.header-basic .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.header-limiter a {
  color: #4dc3fa;
}

/* Logo */

.header-basic .header-limiter h1 {
  float: left;
  font: normal 20px Arial, Helvetica, sans-serif;
  font-family: Verdana;
  line-height: 40px;
  margin: 0;
  padding-right: 10px;
}

.header-basic .header-limiter h1 span {
  color: #5383d3;
}

/* The header links */

.header-basic .header-limiter h1 {
  color: #ffffff;
  text-decoration: none;
}

.header-basic .header-limiter nav {
  font: 16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header-basic .header-limiter nav a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.9;
}

.header-basic .header-limiter nav a:hover {
  opacity: 1;
  color: #608bd2;
}

.header-basic .header-limiter nav a.selected {
  color: #608bd2;
  pointer-events: none;
  opacity: 1;
}

.header-basic li {
  color: #000;
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 0px;
  list-style-type: none;
}
